* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 30px;
    color: #c99128;
    text-align: center;
}

body {
    background: linear-gradient(
        #091a37,
        #000000
    );
}

.title-div {
    margin: 100px 50px;
}

.title {
    font-size: 150px;
}

.paragraph {
    margin: 50px 50px;
    text-align: justify;
}

.img-gallery {
    display: flex;
}

.quote {
    margin: 50px;
}

.list {
    text-align: justify;
    margin: 50px;
}

.footer {
    margin: 100px;
}