* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 30px;
    color: #c99128;
    text-align: center;
}

body {
    background: linear-gradient(
        #091a37,
        #000000
    );
}

a {
    text-decoration: solid;
    color: #d68b00;
}

a:hover {
    color: #000000;
    padding: 2px;
    background-color: #c99128;
    border-radius: 5px;
}

.title-div {
    margin: 100px 50px;
}

.title {
    font-size: 150px;
}

.sec-color {
    color: #865d11;
}

.paragraph {
    margin: 50px 50px;
    text-align: justify;
}

.img-gallery {
    display: flex;
}

.quote {
    margin: 50px;
}

.list {
    text-align: justify;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.facts {
    font-size: 40px;
}

.footer {
    margin: 300px 100px 30px 100px;
}

.source {
    font-size: 25px;
}